name: Shared Deploy

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      tag:
        required: true
        type: string
      environment:
        required: true
        type: string
      region:
        required: true
        type: string
      operation:
        required: true
        type: string

jobs:
  deploy:
     name: ${{ inputs.service }}
    runs-on: ubuntu-latest

    steps:
      - name: Show ${{ inputs.operation }} context
        run: |
          echo "Service     : ${{ inputs.service }}"
          echo "Operation   : ${{ inputs.operation }}"
          echo "Tag         : ${{ inputs.tag }}"
          echo "Environment : ${{ inputs.environment }}"
          echo "Region      : ${{ inputs.region }}"

      - name: Execute ${{ inputs.operation }}
        run: |
          echo "Running ${{ inputs.operation }} for ${{ inputs.service }}"
