name: Shared Deploy

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      tag:
        required: true
        type: string
      environment:
        required: true
        type: string
      region:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy service
        run: |
          echo "Service     : ${{ inputs.service }}"
          echo "Version     : ${{ inputs.tag }}"
          echo "Environment : ${{ inputs.environment }}"
          echo "Region      : ${{ inputs.region }}"
          echo "task completed"
